<section class="todoapp">
			<header class="header">
				<h1> <%=@list.name%> </h1>
				<input class="new-todo" placeholder="Add Item to list" autofocus="">
			</header>
			<section class="main">
				<ul class="todo-list">
                    
                        <li>
                            <div class="view">
                                <label> </label>
                            </div>
                        </li>
                   
                </ul>
			</section>
			<footer class="footer" style="display: none;">
				
				<button class="clear-completed" style="display: none;"></button>
			</footer>
		</section>